.navbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: .5rem;
  background-color: rgba(46, 46, 46, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container img{
  width: 10%;
  padding: 0 1em;

}
.navbar{
  display: flex;
  flex-direction: flex-end;
  
  
}
.navbar img{
  width: 10%;
  
}
.nav-links{

  display: flex;
  list-style: none;
  
  margin: 0;
  padding: 1em;
}
.nav-links li{
  
  margin-right: 1.5rem;
}
.nav-links button{
  background-color: #ff9900;
  font-size: 1.5em;
  color: #fff;
  align-items: center;
  border: none;
  padding: 20px 20px;
  border-radius: 35px;
  width: 6em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .nav-links button{
      font-size: 1em;
      padding: 10px 10px;
      width: 4em;
  }
  .navbar-container img{
    width: 25%;
    
  
  }
}
.nav-links a{

  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  
}